# Online Retail II Data Set

In this notebook we will prepare and store the Online Retail II Data Set from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Online+Retail+II)


**Citation:**

Chen, D. Sain, S.L., and Guo, K. (2012), Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining, Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3, pp. 197-208. https://link.springer.com/article/10.1057/dbm.2012.17. 

## Download the data

- Navigate to the [data folder](https://archive.ics.uci.edu/ml/machine-learning-databases/00502/).
- Download the file called **online_retail_II.xlsx**.
- Save the file in the same folder that contains this notebook.

In [1]:
import pandas as pd

In [2]:
# Load the data

# The data is provided as two sheets in a single Excel file.
# Load both and join into a single dataframe.

# It takes a while...

file = 'online_retail_II.xlsx'

df_1 = pd.read_excel(file, sheet_name='Year 2009-2010')
df_2 = pd.read_excel(file, sheet_name='Year 2010-2011')

df = pd.concat([df_1, df_2])

df.shape

(1067371, 8)

In [3]:
# Inspect dataframe

df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
# Retain customers from the UK

df = df[df["Country"]=="United Kingdom"]
df.drop("Country", axis=1, inplace=True)

In [5]:
# Remove transactions without Customer ID

df.dropna(subset=["Customer ID"], inplace=True)

In [6]:
# Rename columns

df.columns = [
    "invoice",
    "stock_code",
    "description",
    "quantity",
    "invoice_date",
    "price",
    "customer_id",
]

In [7]:
# index rows with unique values

df.reset_index(inplace=True, drop=True)

In [8]:
# re-order columns

ordered_cols = [
    "customer_id",
    "invoice",
    "invoice_date",
    "stock_code",
    "description",
    "quantity",
    "price",
]

In [9]:
# save data with re-ordered columns

df[ordered_cols].to_csv('retail.csv', index=False)